body {
    margin: 0;
    box-sizing: border-box;
    background-color: #E8F3FC;
}

.hero {
    height: 80vh;
    background-color: #0A5BA8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-circle {
    background-color: white;
    border-radius: 50%;
    color: #0A5BA8;
}

.welcome {
    background-color: white;
    margin: 0 50px;
}