body {
    margin: 0;
    box-sizing: border-box;
    background-color: #E8F3FC;
}

.hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/images/hero-image.jpg) center;
    background-size: cover;
}

.hero-circle {
    background-color: white;
    border-radius: 50%;
    color: #0A5BA8;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.hero-circle h1 {
    margin: 0;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);;
}

.hero-circle img {
    width: 150px;
}

.hero-circle p {
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0;
}

.shadow {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, .1);
}

.welcome {
    background-color: white;
    margin: 0 50px;
}

input {
    font-size: 1rem;
}

.career-tax {
    margin: 50px;
    display: flex;
}

.career-options {
    background-color: white;
    margin-right: 25px;
    width: 50%;
    padding: 16px;
    border-top: 6px solid #0A5BA8;
}

.career-taxes {
    margin-left: 25px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.career-info {
    background-color: white;
    padding: 16px;
    margin-bottom: 50px;
    border-top: 6px solid #0A5BA8;
}

.calculations {
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 6px solid #0A5BA8;
}

.calculator {
    background-color: black;
    width: 60%;
    height: 90%;
}

#job-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

.job {
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    padding: 0 16px;
    align-items: center;
}

.job:hover {
    cursor: pointer;
    background-color: rgb(204, 204, 204);
}

.hide {
    display: none;
}

/* .job:nth-child(2n) {
    font-weight: bold;
} */

.job-nav {
    display: flex;
    justify-content: space-between;
    background-color: #E8F3FC;
    padding: 8px;
    margin-bottom: 16px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    font-weight: bold
}

.searchbar {
    display: flex;
    align-items: center;
    border: 1px rgb(0, 0, 0) solid;
    background-color: white;
}

.searchbar input {
    margin-right: 8px;
    border: 0;
    height: 100%;
}

.searchbar input::-webkit-search-decoration {
    -webkit-appearance: none;
}

.searchbar img{ 
    height: 16px;
    margin-right: 8px;
}

.job-sort {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.job-sort p {
    margin: 0;
    display: flex;
    align-items: center;
}

.triangle {
    margin-left: 4px;
}

.triangle-right {
    border-left: 9px solid black;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
}

.triangle-down {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid black;
}

.triangle-left {
    border-top: 5px solid transparent;
    border-right: 9px solid black;
    border-bottom: 5px solid transparent;
}

.triangle-up {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 9px solid black;
    border-radius: 0px;
}